# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
settings.json
/src/main/resources/springboot.p12
springboot.p12
./src/main/resources/application.properties
./src/main/resources/application_server.properties