<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Website Built by Ivan Leon aka Zambronix -->
    <meta name="author" content="Ivan Leon https://www.facebook.com/zambronix">
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Phoenix Network</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="discordInvite.css"/>
    <link rel="icon" href="images/old-logo.png">
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a href="index.html">
                                            <img src="images/logo.png" alt="Phoenix Network" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            
                                        <ul class="top_icon">
                                            <li class="button_login"> <a href="#">Phoenix</a> </li>
                                            <li> <a href="#about">Network</a> </li>
                                            <li class="mean-last">
                                             <a href="#"><img src="images/search_icon.png" alt="#" /></a>
                                            </li>
                                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->

            <!-- end header -->
            <section class="slider_section">
                <div class="banner_main">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 padding_left0">
                                <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li class="active"> <a href="#game">Great Server</a> </li>
                                            <li> <a href="#software">Many Gameplays</a> </li>
                                            <li> <a href="#about">Always Running</a> </li>
                                            <li> <a href="#testimonial">No Griefers</a> </li>
                                            <li> <a href="#contact">Server Always Online</a> </li>
                                           
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            </div>
                            
                            <!-- Mindustry Discord Start -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="text-bg">
                                    <h1>Phoenix<br>
                                         Network</h1>
                                    <span>A host for the Mindustry server</span>
                                    <script src="discordInvite.js"></script>
                                    <script>
                                        discordInvite.init({
                                            inviteCode: 'qtjqCUbbdR',
                                            title: 'Phoenix-Network',
                                        });
                                        discordInvite.render();
                                    </script>
                                    <div id="discordInviteBox"></div>
                                    <!--        <button class="btn btn-outline-secondary btn-lg">Join our Discord Server!</button>-->
                                    <!--input type="button" class="btn btn-outline-secondary btn-lg joinButton"
               onclick="location.href='https://discord.gg/qtjqCUbbdR';" value="Join our Discord Server!"/-->
                                </div>
                            </div>
                            <!-- Mindustry Discord End -->
                            
                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                                <div class="text-img">
                                   <figure><img src="images/img.png" alt="Mindustry Corvus"/></figure>
                                    
                                    
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        
           </section>
        </div>
    </header>

    <!-- our -->
    <div id="games" class="our">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Games</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin_bottom">
                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="two-box">
                                <figure><img src="https://i.ytimg.com/vi/m1WO1PvGsww/hqdefault.jpg" class="img-fluid"></figure>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                            <div class="Games">
                                <h3>V7 Server</h3>
                                <p>IP: 172.104.253.198<br />
                                    <br />
                                    This is our main Server. We host all kinds of maps: Attack, Survival and PvP.</p>
                                <input type="button" class="btn btn-outline-secondary btn-lg joinButton"
               onclick="location.href='https://discord.gg/qtjqCUbbdR';" value="Join our Discord Server!"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 margin_bottom">
                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="two-box">
                                <figure><img src="https://img.itch.zone/aW1hZ2UvMTQwMTY5LzIzOTg3OTYucG5n/original/zinE52.png" class="img-fluid"></figure>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                            <div class="Games">
                                <h3>V5 Server</h3>
                                <p>IP: 172.104.253.198:2000<br />

                                    We also host a server for the version 104 of Mindustry.
                                    <br />
                                    <p>You can download the v5 client <a href="https://github.com/Anuken/Mindustry/releases/download/v104.6/Mindustry.jar">Here!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="two-box">
                                <figure><img src="images/our-image3.jpg" alt="#" /></figure> 
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                            <div class="Games">
                                <h3>V7 EI SERVER</h3>
                                <p>IP: 172.104.253.198:4000<br />

                                    Here we host a modded server. This mod has been developed by WMF Builder.
                                    <br />
                                    You can download the the mod <a href="https://github.com/WMF-Industries/ExpandedIndustries">Here!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- end our -->

    <!-- about  -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>About Our Game</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="about-box">
                        <figure><img src="images/background.png" alt="#" /></figure>

                        <p> What can I say...
                            <br> It's the monst intense server</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->

    <!-- testimonial -->
    <div id="testimonial" class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 offset-md-2">
                    <div class="row box">
                        
                        <!-- Nautilus -->
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="testimonial_box">
                                <figure><img class="card-img-top rounded-circle" src="https://cdn.discordapp.com/avatars/770240444466069514/15e34d86d45f308b909537e5445d9d1c.png?size=100" alt="Nautilus image"></figure>
                                <h3><b>Nautilus#0100</b></h3>
                                <h3>Developer of the Plugin for the Mindusty Server and didn't make this Website.</h3>
                            </div>
                        </div>
                        &nbsp; &nbsp; &nbsp; &nbsp; 
                        
                        <!-- Etilax- -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="testimonial_box">
                                <figure><img class="card-img-top rounded-circle" src="https://cdn.discordapp.com/avatars/498158284512034816/2c2e08d8a35ebf719163f76781bda2c6.webp?size=128" alt="Etilax Image" /></figure>
                                <H3><b>EtilaX#5560</b></H3>
                                <h3>Intensive gamer and friend of Nautilus. I don't know why he is an administrator.</h3>
                            </div>
                        </div>
                        &nbsp; &nbsp; &nbsp; &nbsp; 
                        
                        <!-- Zambronix -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="testimonial_box">
                                <figure><img class="card-img-top rounded-circle" src="https://cdn.discordapp.com/avatars/398683530588061697/27f845d9c2baf6e5a7a9a5305b3702f1.png?size=80" alt="Zambronix Image"></figure>
                                <h3><b>Zambronix#5786</b></h3>
                                <h3>He built the website better than Nautilus did when he built a Phoenix-Network.</h3>
                            </div>
                        </div>
                        &nbsp; &nbsp; &nbsp; &nbsp; 
                        
                        <!-- WMF Builder -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="testimonial_box">
                                <figure><img class="card-img-top rounded-circle" src="https://cdn.discordapp.com/avatars/678060551888175145/881667e8b2e171afb234aba52dde5cd5.webp?size=128" alt="WMF Image"></figure>
                                <h3><b>Your Best<br />Friend#1118</b></h3>
                                <h3>Developer of the Expanded Industries Mod.</h3>
                            </div>
                        </div>
                        &nbsp; &nbsp; &nbsp; &nbsp;  
                        
                        <!-- No Words -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="testimonial_box">
                                <figure><img class="card-img-top rounded-circle" src="https://cdn.discordapp.com/avatars/687347431548911644/0b862f2dc3a615d3a2a726e9882ac8fa.webp?size=128" alt="NoWords image"></figure>
                                <h3><b>no_words#8368</b></h3>
                                <h3>Administrator on the Phoenix Network Discord and Mindustry server.</h3>
                            </div>
                        </div>
                        &nbsp; &nbsp; &nbsp; &nbsp; 
                        
                        <!-- Clash Gone- -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="testimonial_box">
                                <figure><img class="card-img-top rounded-circle" src="https://cdn.discordapp.com/avatars/656494129940791311/b585af9739be5bc2b30fdf368731de40.webp?size=128" alt="ClashGone Image" /></figure>
                               <H3><b>ClashGone#3200</b></H3>
                                <H3>Administrator on the Phoenix Network Discord and Mindustry server.</H3>
                            </div>
                        </div>
                        
                    </div>
                    <div class="clients_box">
                        <h3>Thank you.</h3>
                        <p>We will be brining up more maps and more servers in the near future.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- end testimonial -->


    <!--  footer -->
    <footr>
        <div class="footer ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Contributors</h2>
                    </div>
            
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <ul class="social_link">
                                        <li>A Mindustry Map Hosting Server </li>
                                     </ul>
                                    <a href="index.html"> <img src="images/old-logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>Thank You</h3>
                                    <ul class="Menu_footer">
                                        <li class="active"> <img src="images/3.png" alt="#"> <a href="#game">Nautilus</a> </li>
                                        <li><img src="images/3.png" alt="#"> <a href="#software">Zambronix</a> </li>
                                        <li><img src="images/3.png" alt="#"> <a href="#about">WMF Builder</a> </li>
                                        <li><img src="images/3.png" alt="#"> <a href="#testimonial">No_Words</a> </li>
                                        <li><img src="images/3.png" alt="#"> <a href="#contact">Clash Gone</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>My friend</h3>
                                    <ul class="Links_footer">
                                        <li class="active"><img src="images/3.png" alt="#"> <a href="#">EtilaX</a> </li>
                                        <!--li><img src="images/3.png" alt="#"> <a href="#">Simply random</a> </li>
                                        <li><img src="images/3.png" alt="#"> <a href="#">Roots in a</a> </li>
                                        <li><img src="images/3.png" alt="#"> <a href="#"> Piece</a> </li>
                                        <li><img src="images/3.png" alt="#"> <a href="#">Classical</a> </li-->
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Contact us </h3>
                                    <ul class="loca">
                                        <li>
                                            <a href="https://discord.gg/qtjqCUbbdR"><img src="icon/discord-logo.png" alt="#" /></a>Discord:
                                            <br>https://discord.gg/qtjqCUbbdR </li>
                                        <li>
                                            <a href="mailto: nautilus.phoenix@gmail.com"><img src="icon/email.png" alt="#" /></a>Email: nautilus.phoenix@gmail.com </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Website Built by Ivan Leon aka Zambronix -->
            <div class="copyright">
                <div class="container">
                    <p id="date"><script>n =  new Date();
                        y = n.getFullYear();
                        m = n.getMonth() + 1;
                        d = n.getDate();
                        document.getElementById("date").innerHTML = "Copyright 2020 - " + y + " PhoenixNetwork.dev";
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </footr>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

</body>

</html>